#                                       Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SCALA
5. JAVA
6. SQL
7. JULIA

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. PyTorch
3. Keras
4. NumPy
5. Pandas
6. Caffe
7. SciKit-Learn
8. Matplotlib
9. Ggplot2
10. Plotly
11. Spyder

| Data science tools |
| ------------------ |
| MongoDB |
| MySQL |
| APACHE SPARK |
| Cassandra |
| Hadoop |
| APACHE AirFlow |
| Sheldon |
| Kubernetes |

### Below are a few examples of evaluating arithmetic expressions in Python

his a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

<b>Objectives : </b>
<ul>
    <li>Popular data science tools</li>
    <li>Popular data science languages</li>
    <li>Popular data science libraries</li>
</ul>

## Author
Hasan GÃ¶kalp